<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit</title>
</head>
<body>
    <p>Edit your chat: <%= chat._id %> </p>
    <p>This chat is send from <b><%= chat.from%></b>to <b></b><%= chat.to%> </b></p>

    <form method="POST" action="/chats/<%=chat._id%>?_method=PUT">
        <textarea name="msg" row="5" cols="10"><%= chat.msg %></textarea>
        <br/>
        <button>edit</button>
    </form>
</body>
</html>